
button{
    background-color:brown;
     border-radius:15%;
     color:white;
}
a{
    margin:8px;
    color:rgb(157, 15, 15);
    font-family:"Poppins",sans-serif;
}
#coffee{
    color:rgb(255, 10, 10);
    margin:400px;
    font-family:"Lobster", 
    cursive;
    font-size: 25px;
}
header{
    background-color:#FFF1E6;
}
#my{
    padding-left:70px;
    padding-top:50px;
    color:rgb(192, 12, 12);
}
#name{
    padding-left:70px;
    font-size:50px;
    color:rgb(93, 6, 6);
}
#is{
    padding-left:70px;
    font-size:50px;
    color:rgb(83, 5, 5);
}
#sam{
    margin:50px;
    margin-left:65px;
}
h2{
    color:rgb(86, 10, 10);
    text-align:center;
    font-family:Arial;
}
#latte,#cappuccino,#icedcoffee,#espresso{
    width:15%;
    height:auto;
    background-color:#FFF1E6;
    padding-top:200px;
    text-align:center;
    font-size:medium;
    color:rgb(130, 7, 7);
    margin:20px;
}
#latte{
    background-image:url("latte.jpg");
    background-size:contain;
    background-repeat:no-repeat;
    
}
#bang,#yo,#skz,#milkyway{
    margin-bottom:30px;
    margin-top:20px;
    background-color:rgb(73, 5, 5);
    color:white;
    width:100px;
    height:30px;
}
.products{
    display:flex; 
    align-items:stretch;
    justify-content: center;
}
#aboutus{
    background-color:#FFF1E6;
    height:250px;
    text-align:center;
    padding-top:45px;
    margin-top:40px;
    font-family:arial;
}
#lino{
    margin-left:160px;
    color:rgb(226, 73, 26);
}
h1{
    color:rgb(51, 0, 0);
}
#learnmore{
    align-items:center ;
    margin-top:40px;
    background-color:rgb(82, 2, 2);
}
footer{
    text-align:centre;
    color:white;
    background-color:rgb(54, 1, 1);
    height:250px;
    margin-top:10px;
    padding-top:10px;
}
#contactus{
    color:white;
    text-align:center;
}
h3{
    text-align:center;
}
#cappuccino{
    background-image: url("cappuccino.jpg");
    background-size:contain;
    background-repeat:no-repeat;
}
